.navbar{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;

}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    background-image: url("Navbarlogo.png");
    background-size: cover;
    margin-left: 45px;
}
.firstcs{
    width: 100%;
    height: 100%;
    background: linear-gradient(#9c8fe4,#fff);
}
.comname{
    width: 100px;
    height: 80px;
    color: black;
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 3.0rem;
    font-weight: 600;
    font-family: 'Bodoni Moda', serif;
}
.info{
    width: 700px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    margin-left: 600px;
    margin-top: 25px;
}
/* Default styles */
.navbardet {
    width: auto;
    height: 50px;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.5s;
    line-height: 50px; /* Centering text vertically */
    border-radius:17%;
}

/* Hover styles */
.navbardet:hover { /* Change background color on hover */
    color:#6739b7; /* Change text color on hover */
    transform: scale(1.20); /* Slight zoom-out effect on hover */
}
.logins{
    text-decoration: none;
    color: #361968;
}
.hero{
    background-image: url("hero3.png");
    background-size: cover;
    width: 100%;
    margin-top: 10px;
    height: 400px;
    position: relative;
    
}
.herodata{
    position:absolute;
    width: 30%;
    height: 90%;
    margin-left: 150px;
    margin-top: 20px;
    color: rgb(97,33,157);
    

}
.started{
    width: 168.33px;
    height: 45.4px;
    border-radius: 33px;
    background-color: #6739b7;
    margin-top: 15px;
    color: white;
    font-size: 25px;
    line-height: 45.4px;
    text-align: center;
}
.hero2{
    background-image: url("hero2.jpg");
}
.hero3{
    background-image: url(hero3.png);
}
.prev-btn{
    float: left;width: 35px; height: 55px; border-radius: 50%; font-size:25px;margin-top: 150px;background: transparent;margin-left: 10px;border: 2px black solid;
    transition: transform 0.3s ease-in-out;
}
.next-btn{
    float: right; width: 35px; height: 55px; border-radius: 50%;font-size: 25px;margin-top: 150px;background: transparent;margin-right: 10px;border: 2px black solid;
    transition: transform 0.6s ease-in-out,box-shadow 0.3s ease-in-out;
}
.prev-btn:hover,
.next-btn:hover{
     background-color: rgb(85, 83, 90);
     color: white;
     transform: scale(1.2);
     box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);

}
.middle{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.middiv{
    width: 560px;
    height: 301px;
    background-color:white;
    border: 0.5px solid black;
    transition: all 0.2sec ease-in-out;
    border-radius: 10px;
    font-family: PhonePeSans,sans-serif,Helvetica,Arial;
    color: #361968;
}
.middiv1{
    background-image: url(secpart1.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.middiv2{
    background-image: url(secpart2.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.middiv:hover{
    border: 0px ;
    box-shadow:0 19px 25px 0 rgb(0,0,0,.19)
}
.infodata{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-image: url(infopic.png);
    background-size: cover;
    padding-left: 40px;

}
.givingdata{
    margin-top: 80px;
    width: 100%;
    height: 600px;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 1.1rem;
    font-weight: 400;
    background:linear-gradient(#fff,#9c8fe4);
}
.maininto{
    background: linear-gradient(#fff,#9c8fe4);
    height:800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -250px;
}
.options{
    width: 350px;
    height: 200px;
    border: 1px solid balck;
    background-color: #361968;
    margin-left: 5px;
}
